footer
    img(src="./assets/logoFooter.png", alt="logo")
    div.footer-links 
        ul
            each val, key in self.footer
                li
                    a(href=key)=val

        p 2022 Valeria Marquez
    div#redes
        img(src="./assets/behance.svg")
        img(src="./assets/instagram.svg")
        img(src="./assets/pinterest.svg")
        
