doctype html
html(lang="en")
    include ../includes/head.pug

    body
        include ../includes/nav.pug 
        main
            header
                img(src="./assets/headerText.png", alt="")
                img(src="./assets/heart.png", alt="", srcset="")
            hr
        include ../includes/footer.pug